/**
 * anthrstlsht.css (another style sheet) v0.8
 * DWTWL 2.55 license: https://soundragon.su/license/license.html
 */

body {
  margin: 0;
  font-family: Ubuntu, sans-serif;
  color: #eee;
}

.container {
  margin: auto;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 500;
}

h1 {
  font-size: 3.6rem;
}

h2 {
  font-size: 3.2rem;
}

h3 {
  font-size: 2.6rem;
}

h4 {
  font-size: 2.0rem;
}

h5 {
  font-size: 0.7rem;
  text-shadow:0 0 5px #888;
}

h6 {
  font-size: 1.2rem;
  text-shadow: 0 0 5px #888;
}

hr {
  border-width: 0;
  border-top: 1px solid #bbb;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  border: 0;
}

.button,
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  padding: 0 20px;
  color: #555;
  text-align: center;
  font-family: Ubuntu, sans-serif;
  font-weight: 800;
  line-height: 28px;
  background-color: transparent;
  border-radius: 6px;
  border: 1px solid #bbb;
  cursor: pointer;
}

.button:hover,
button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
.button:focus,
button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus {
  color: #333;
  border-color: #999;
  outline: 0;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  height: 28px;
  padding: 3px 5px;
  border: 1px solid #bbb;
  border-radius: 6px;
  box-shadow: none;
}

input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  border: 1px solid #888;
  outline: 0;
}

code {
  font-family: monospace, monospace;
  padding: .2rem .2rem;
  font-size: 80%;
  background: #eee;
  white-space: pre;
  border: 1px solid #ccc;
  border-radius: 6px;
}

ul {
  list-style: circle;
}

ol, ul, li {
  margin-top: 0;
  margin-bottom: 0;
}

button,
.button,
input,
textarea,
select,
fieldset {
  margin-bottom: .1rem;
}

a:link {
  color: #999;
}

a:visited {
  color: #666;
}
